

.app {
  display: flex;
  position:relative
}

#root, .app{
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
/*
.sidebar {
  height: 100%;
  width: 300px;
  background-color: #191D2B;
  display: flex;
  flex-direction: row;
  align-items: center;
  float:left;
  position: absolute;
  top: 0;
  bottom: 0;
}
*/

.app main{
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar{
  
  height: 100%;
  width: 300px;
  min-width: 300px;
  position: relative;
  z-index:1009;
}

.sidebar-inner {
  background-color: #191D2B;
  height: 100%;
  position: relative;
}

.sidebar-layout {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  flex-grow: 1;
}

.sidebarList {
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-grow: 1;
}

.sidebarList .row {
  height: 60px;
  width: 100%;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarList .row:hover{
  cursor: pointer;
  background-color: #0d6efd30;
}

.sidebarList #active {
  background-color: #0d6efd70;
}
/*
.content {
  height: auto;
  padding: 0;
  margin: 0;
  left: 300px;
  width: calc(100% - 300px);
  position: absolute;            
  margin-left: 300px;
  display: flex;
}
*/

.layout {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  flex-direction: row;
}



